Home page
<br />
<% if user_signed_in? %>
<%= link_to "Sign out", destroy_user_session_path, method: 'delete' %>
<% else %>
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %><br />
  <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %>
<% end %>
<br />
<br />

Programming Language: <input type="text" name="lang" id="lang" />
<div id="matched_names"></div>