a {
  text-decoration: underline;
}

.signup-methods {
  display: none;
}

.js-link {
  border-bottom: 1px dashed #08C;
  color: #08C;
  cursor: pointer;
}

.clear {
  clear: both;
}

.separator {
  font-size: 14px;
  font-weight: bold;
  text-transform:uppercase;
}