#profile {
  .actions {
    margin-top: 15px;
    div {
      float: left;
    }
    label {
      float: left;
      margin-left: 22px;
      width: 50px;
    }
  }
  #teacher_info, #learner_info {
    display: none;
    float: left;
    width: 280px;
  }
  .submit {
    margin: 25px 0 0 10px;
  }
  .left {
    float: left; 
  }
  #learn, #teach {
    margin-left: 5px;
  }
}
